# .streamlit/secrets.toml
# Copy this file to secrets.toml and fill in your Azure credentials
# DO NOT commit secrets.toml

AZURE_LANGUAGE_ENDPOINT = "https://your-resource.cognitiveservices.azure.com"
AZURE_LANGUAGE_KEY = "your-api-key-here"
AZURE_VISION_ENDPOINT = "https://your-resource.cognitiveservices.azure.com"
AZURE_VISION_KEY = "your-api-vision-key"

AZURE_SPEECH_REGION = "eastus"
AZURE_SPEECH_KEY = "<Key1 from speech keys list>"

AZURE_DOCINTEL_ENDPOINT = "https://<your-docintel-name>.cognitiveservices.azure.com"
AZURE_DOCINTEL_KEY = "<Key1 from docintel keys list>"